@import "../base/form-input.scss";

:host {
  --border-color: var(--surface-400);
  --border: solid var(--border-color) 1px;
  --border-radius: 0.25rem;

  div.input-wrapper div.select-wrapper {
    position: relative;

    select {
      flex: 1;
      width: 100%;
      padding: 0.5rem;
      background-color: var(--surface-0);
      border: var(--border);
      border-radius: var(--border-radius);
      transition: 0.1s;
      cursor: pointer;

      option {
        padding: 0.5rem;
      }
    }

    app-button.clear-button {
      position: absolute;
      height: 100%;
      right: 1rem;
      --padding: 0 0.5rem;
      --background: var(--surface-900);
      animation: clearButtonAnimation 0.16s forwards;
    }
  }

  &.has-errors {
    --border-color: var(--pink-500);
  }
}

@keyframes clearButtonAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
