<div class="header-actions">
  <app-button text="Add User" icon="user-plus" (click)="onAddUser()"></app-button>
</div>

<app-table [cells]="cells" [data]="users" [pageHandler]="pageHandler">
  <ng-template app-template="role" let-value="value">{{getRoleName(value)}}</ng-template>
  <ng-template app-template="organizationId" let-value="value">{{getOrganizationName(value)}}</ng-template>

  <ng-template app-template="table-row-actions" let-user>
    <span *ngIf="isClientUser(user); else rowActionsTemplate">(You)</span>

    <ng-template #rowActionsTemplate>
      <div class="user-actions">
        <app-button class="text reset-password" icon="key" title="Reset Password" (click)="onResetUserPassword(user)">
        </app-button>

        <app-button class="text edit-user" icon="pen" title="Edit User" (click)="onEditUser(user)"></app-button>

        <app-button class="text danger delete-user" icon="trash" title="Delete User" (click)="deleteDialog.show(user)">
        </app-button>
      </div>
    </ng-template>
  </ng-template>
</app-table>

<app-admin-pass-reset-form #passResetForm [dialog]="true" (onSubmitSuccess)="passResetForm.dialogVisible = false">
</app-admin-pass-reset-form>

<app-user-form [dialog]="true" [organizationOptions]="organizations" [roleOptions]="rolePairs"
  [defaultOrganizationId]="clientUser?.organizationId" (onSubmitSuccess)="onUserFormSubmit($event)">
</app-user-form>

<app-confirm-dialog #deleteDialog header="Delete User" cancelText="No" confirmText="Yes" [backdropDismiss]="true"
  (onConfirm)="onDeleteUser($event)">
  <span>Are you sure you want to delete user:</span>
  <span>"<b>{{deleteDialog.data?.username}}</b>"?</span>
</app-confirm-dialog>

<app-loader [fullscreen]="true" text="Deleting user..." [visible]="isDeletingUser"></app-loader>

<app-dialog class="delete-error-dialog" [backdropDismiss]="true" [(visible)]="errorDialogVisible">
  <div slot="header">
    <span>Failed to Delete User</span>
  </div>
  <p slot="body" class="flex flex-col flex-align-center flex-justify-center h-percent-100 m-0">
    {{errorDialogText}}
  </p>
  <div slot="footer" class="txt-right">
    <app-button class="text" text="OK" (click)="errorDialogVisible = false"></app-button>
  </div>
</app-dialog>