:host {
  --background: var(--green-400);
  --background-hover: var(--green-300);
  --background-active: var(--green-500);
  --color: var(--surface-900);
  --border-radius: 0.25rem;

  display: inline-block;
  font: inherit;
  font-weight: 600;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  button {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.4rem 0.8rem;
    border: none;
    background-color: var(--background);
    color: var(--color);
    border-radius: var(--border-radius);
    font: inherit;
    cursor: inherit;
    transition: 0.1s;
  }

  &:hover {
    --background: var(--background-hover);
  }

  &:active {
    --background: var(--background-active);
  }

  &.disabled {
    pointer-events: none;
  }

  &.block {
    display: block;
  }
}