@import "../base/form-input.scss";

:host {
  --background: var(--color-white);
  --color: var(--color-black);
  --border-color: var(--color-medium-shade-4);
  --border: solid var(--border-color) 1px;
  --border-radius: 0.25rem;

  --popover-background: var(--background);
  --popover-border-radius: var(--border-radius);
  --popover-box-shadow: var(--color-medium-shade-1) 0 0 6px;

  div.input-wrapper div.select-wrapper {
    position: relative;
    height: 2.125rem;
    background-color: var(--background);
    color: var(--color);
    border: var(--border);
    border-radius: var(--border-radius);

    div.select-box {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0.5rem;
      font-size: 0.8rem;
      cursor: pointer;

      div.value-wrapper {
        position: absolute;
        max-width: 88%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        pointer-events: none;

        .value {
          display: inline-block;
          margin-right: 0.5rem;
        }
      }

      span.placeholder {
        position: absolute;
        opacity: 0.5;
      }
    }

    div.select-widgets {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      right: 0;
      height: 100%;
      margin: 0 0.75rem;
      pointer-events: none;
      cursor: pointer;

      app-button.clear-button {
        height: 100%;
        --background: var(--color-dark);
        animation: clearButtonAnimation 0.16s;
        pointer-events: initial;

        &:hover {
          transform: scale(1.25);
        }
      }
    }

    app-popover.select-options-popover {
      width: 100%;
      max-height: 200px;
      --background: var(--popover-background);
      --border-radius: var(--popover-border-radius);
      --box-shadow: var(--popover-box-shadow);
      --padding: 0.5rem;
      --overflow: auto;

      div.no-options-wrapper {
        padding: 0.25rem;
        text-align: center;
      }
    }
  }

  &.has-errors {
    --border-color: var(--color-danger);
  }
}

@keyframes clearButtonAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.25);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
