@import "/src/theme/responsive.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    var(--color-1-tint-5) 50%,
    var(--color-1-tint-3) 50%
  );

  div.card {
    display: inline-block;
    width: 40vw;
    min-width: 300px;
    border-radius: 0.5rem;
    background-color: var(--color-2);
    box-shadow: var(--color-medium-shade-1) 0 4px 10px 2px;
    overflow: hidden;

    @include belowPcWidth() {
      min-width: 500px;
      max-height: 90vh;
      overflow: auto;
    }

    @include mobileWidth() {
      min-width: 0;
      width: 90vw;
    }
  }

  div.card-header {
    background-color: var(--color-1);
    transition: 0.25s;
    overflow: hidden;

    h2 {
      margin: 0;
      padding: 1.5rem 0.5rem;
      text-align: center;
    }
  }

  div.card-body {
    position: relative;
    padding: 3vmax;
    background-color: var(--color-1-shade-2);
    overflow: auto;

    app-form {
      height: 100%;
      margin: auto;

      div[slot="footer"] {
        margin: 4rem 1rem 1rem 1rem;
      }
    }
  }
}
