:host {
  display: flex;
  flex-direction: column;

  div.header-actions {
    text-align: right;
    margin-bottom: 1rem;
  }

  app-table {
    flex-grow: 1;

    app-button.ping-sound-preview-button {
      --justify-content: space-between;
    }

    div.room-actions {
      app-button.delete-room {
        --background: var(--pink-600);
      }
    }
  }
}
