@import "../account-styles.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  section.info-section {
    flex: 1;
    overflow: auto;
  }
}