:host {
  --message-list-background: #8b9c8b;
  --message-background: #9cab9c;
  --input-wrapper-background: #738573;
  --input-background: #dfebdf;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  ul.messages-list {
    flex-grow: 1;
    margin: 0;
    padding: 1rem 1rem 0 1rem;
    background-color: var(--message-list-background);
    overflow: auto;

    li {
      display: block;
      padding: 1rem;
      margin-bottom: 1rem;
      border-bottom: solid var(--message-background) 1px;
      transition: 0.16s;
      animation: messageIntro 0.25s;

      &:hover {
        background-color: var(--message-background);
      }
    }
  }

  div.input-wrapper {
    display: flex;
    flex-shrink: 0;
    padding: 0.5rem;
    background-color: var(--input-wrapper-background);

    .user-input {
      flex-grow: 1;
      margin: 0;
      background-color: var(--input-background);
    }

    .send-button {
      flex-shrink: 0;
    }
  }
}

@keyframes messageIntro {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}