:host {
  --border-collapse: collapse;

  --th-background: var(--green-200);
  --th-background-hover: var(--green-300);
  --th-color: var(--surface-900);
  --th-border: unset;
  --th-font-weight: 600;
  --th-text-align: center;

  --tr-min-height: 50px;
  --tr-border-bottom: solid var(--green-100) 1px;

  --td-border: unset;
  --td-text-align: left;

  --cell-padding: 8px 10px;

  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;

  div.table-header,
  div.table-footer {
    &:empty {
      display: none;
    }
  }

  .table-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;

    table {
      width: 100%;
      border-collapse: var(--border-collapse);

      tr {
        display: flex;
        width: 100%;
      }

      th,
      td {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: min-content;
      }

      th {
        background-color: var(--th-background);
        color: var(--th-color);
        border: var(--th-border);
        font-weight: var(--th-font-weight);
        text-align: var(--th-text-align);

        div.cell-header-content {
          height: 100%;

          div.cell-header-name {
            display: flex;
            padding: var(--cell-padding);

            span {
              flex-grow: 1;
            }
          }

          &.sortable {
            cursor: pointer;
            transition: 0.16s;

            &:hover {
              background-color: var(--th-background-hover);
            }

            .sort-icon {
              flex-shrink: 0;
            }
          }

          .cell-header-filter {
            display: block;
            width: 100%;
            padding: var(--cell-padding);
            padding-top: 0;

            > * {
              width: 100%;
              margin: 0;
            }
          }
        }
      }

      td {
        padding: var(--cell-padding);
        border: var(--td-border);
        text-align: var(--td-text-align);

        .readonly-value {
          pointer-events: none;
        }
      }

      thead {
        position: sticky;
        top: 0;
      }

      tbody {
        tr {
          align-items: center;
          min-height: var(--tr-min-height);
          border-bottom: var(--tr-border-bottom);
        }
      }
    }
  }
}
