<ngx-datatable #table [rows]="data" [columnMode]="columnMode" [headerHeight]="-1" [rowHeight]="-1" [footerHeight]="1"
  [limit]="20">

  <ng-container *ngFor="let cell of cells; index as i">
    <ngx-datatable-column *ngIf="!cell.hidden" [name]="cell.name">

      <ng-template ngx-datatable-header-template let-sort="sortFn" let-sortDir="sortDir">
        <div class="cell cell-header">
          <span class="cell-header-name">{{cell.name}}</span>

          <span *ngIf="cell.sortable" class="sort-action" role="button" [ngSwitch]="sortDir" (click)="sort()">
            <fa-icon *ngSwitchCase="'asc'" [icon]="sortAscIcon"></fa-icon>
            <fa-icon *ngSwitchCase="'desc'" [icon]="sortDescIcon"></fa-icon>
            <fa-icon *ngSwitchDefault [icon]="sortNoneIcon"></fa-icon>
          </span>
        </div>
      </ng-template>

      <ng-template ngx-datatable-cell-template let-row="row">
        <div [ngSwitch]="cell.type" class="cell cell-data">
          <input *ngSwitchCase="'boolean'" class="data-input" type="checkbox" [checked]="row[cell.prop]">
          <span *ngSwitchDefault>{{row[cell.prop] || '-'}}</span>
        </div>
      </ng-template>

    </ngx-datatable-column>
  </ng-container>

</ngx-datatable>