<div class="input-wrapper">
  <textarea #input [name]="name" [id]="name" [title]="label" [required]="required" [disabled]="disabled"
    [readonly]="readonly" [placeholder]="placeholder" [attr.minlength]="minLength" [attr.maxlength]="maxLength"
    [rows]="rows" [cols]="cols" [ngClass]="{'ng-dirty': hasErrors, 'ng-invalid': hasErrors}" (blur)="validateIfDirty()"
    [(ngModel)]="value"></textarea>

  <label *ngIf="label" [for]="name">
    <span *ngIf="required">*&nbsp;</span>
    <span>{{label}}</span>
  </label>
</div>

<ul class="error-list" [ngClass]="{'visible': showErrors && hasErrors}">
  <li *ngFor="let error of errors" class="error-message">{{error}}</li>
</ul>