.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-row {
  flex-direction: row;
}
.flex-row-r {
  flex-direction: row;
}
.flex-col {
  flex-flow: column;
}
.flex-col-r {
  flex-flow: column-reverse;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-align-center {
  align-items: center;
}
.flex-justify-start {
  justify-content: flex-start;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-around {
  justify-content: space-around;
}
.flex-justify-even {
  justify-content: space-evenly;
}

@for $i from 0 to 11 {
  .flex-g-#{$i} {
    flex-grow: #{$i};
  }
  .flex-s-#{$i} {
    flex-shrink: #{$i};
  }
  .flex-gs-#{$i} {
    flex: $i;
  }
}
