<div #messagesScrollWrapper class="messages-wrapper">
  <ul class="messages-list">
    <li *ngFor="let message of messages">
      <app-chat-message [message]="message" [clientUser]="clientUser" class="message"
        (onEdit)="onEditMessage.emit($event)" (onDelete)="onPromptDeleteMessage($event)">
      </app-chat-message>
    </li>
  </ul>

  <app-loader *ngIf="listLoaderVisible" [visible]="true"></app-loader>

  <div *ngIf="!hasMessages" class="no-messages-wrapper">
    <fa-icon class="icon" [icon]="noMessagesIcon"></fa-icon>
    <span class="message">No messages</span>
  </div>
</div>

<div class="input-wrapper">
  <app-input-textarea #textInput class="user-input" placeholder="Type your message..." [autoResize]="true"
    (keydown.enter)="onTextareaEnter(textInput)">
  </app-input-textarea>
</div>

<app-popover class="w-min-rem-12 delete-message-popover" [offsetY]="10" (onHide)="onDeletePromptCancel()">
  <div>Delete this message?</div>

  <div class="flex flex-justify-center m-t-1">
    <app-button class="text" text="No" (click)="onDeletePromptCancel()"></app-button>
    <app-button class="text" text="Yes" (click)="onDeletePromptConfirm()"></app-button>
  </div>
</app-popover>