@import "/src/theme/colors.scss";

:host {
  --message-list-background: var(--color-light);
  --message-background: var(--color-1);
  --message-color: var(--color-1-contrast);
  --message-background-client: var(--color-1-tint-4);
  --message-color-client: var(--color-1-contrast);
  --message-background-client-hover: var(--color-1-tint-3);
  --message-color-client-hover: var(--color-1-contrast);
  --message-background-client-mention: var(--color-success-tint-5);
  --message-color-client-mention: var(--color-success-contrast);
  --input-background: var(--color-2);

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  div.messages-wrapper {
    display: flex;
    flex-flow: column-reverse;
    flex-grow: 1;
    padding: 1rem 1rem 0 1rem;
    background-color: var(--message-list-background);
    overflow-y: auto;
    overflow-x: hidden;

    ul.messages-list {
      display: flex;
      flex-direction: column-reverse;
      margin: 0;
      padding: 0;

      li {
        display: block;
        animation: messageIntro 0.25s;

        app-chat-message {
          --keyword-color: var(--color-2-shade-5);

          padding: 1rem;
          margin-bottom: 1rem;
          border-radius: 0.25rem;
          color: var(--message-color);
          border-bottom: solid var(--message-background) 1px;
          transition: 0.16s;

          &.client-message {
            background-color: var(--message-background-client);
            color: var(--message-color-client);

            &:hover {
              background-color: var(--message-background-client-hover);
              color: var(--message-color-client-hover);
            }
          }

          &:not(.client-message).client-mention {
            background-color: var(--message-background-client-mention);
            color: var(--message-color-client-mention);
          }
        }
      }
    }

    div.no-messages-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 16px;
      margin-bottom: 16px;
      background-color: var(--color-light-shade-1);
      color: var(--color-2-shade-5);
      border-radius: 0.25rem;
      animation: noMessagesIntro 0.25s;

      .icon {
        font-size: 4rem;
      }

      span.message {
        font-size: 1.65rem;
        font-weight: 600;
      }
    }
  }

  app-chat-input {
    background-color: var(--input-background);
  }
}

@keyframes messageIntro {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes noMessagesIntro {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@include themeHighContrast() {
  :host {
    --message-background-client: var(--color-medium);
    --message-color-client: var(--color-white);
    --message-background-client-hover: var(--color-medium-shade-5);
    --message-color-client-hover: var(--color-white);
  }
}
