:host {
  --visible-transition: 0.16s;

  --min-width: unset;
  --max-width: unset;
  --min-height: unset;
  --max-height: unset;

  --padding: 1rem;
  --background: var(--green-50);
  --border-radius: 0.25rem;
  --box-shadow: var(--surface-800) 0 8px 25px;

  position: fixed;
  display: flex;
  z-index: 10;

  div.popover-content {
    min-width: var(--min-width);
    max-width: var(--max-width);
    min-height: var(--min-height);
    max-height: var(--max-height);
    padding: var(--padding);
    background-color: var(--background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transform-origin: center center;
  }

  &[anchor="top left"] div.popover-content {
    transform-origin: top left;
  }
  &[anchor="top right"] div.popover-content {
    transform-origin: top right;
  }
  &[anchor="bottom left"] div.popover-content {
    transform-origin: bottom left;
  }
  &[anchor="bottom right"] div.popover-content {
    transform-origin: bottom right;
  }

  &:not(.visible) div.popover-content {
    animation: hideAnimation var(--visible-transition) forwards;
  }

  &.visible div.popover-content {
    animation: showAnimation var(--visible-transition) forwards;
  }
}

@keyframes showAnimation {
  from {
    opacity: 0;
    transform: scale(60%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes hideAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
