<div class="input-wrapper">
  <div class="select-wrapper">
    <select [name]="name" [attr.id]="name" [title]="label" [required]="required" [disabled]="disabled"
      (blur)="validateIfDirty()" [(ngModel)]="value">

      <option *ngFor="let option of options" [value]="valueKey ? option[valueKey] : option">
        <span class="option">{{displayKey ? option[displayKey] : option}}</span>
      </option>
    </select>

    <app-button *ngIf="clearable && value" class="clear-button text" icon="times" (click)="value = null"></app-button>
  </div>

  <label *ngIf="label" [for]="name">
    <span *ngIf="required">*&nbsp;</span>
    <span>{{label}}</span>
  </label>
</div>

<ul class="error-list" [ngClass]="{'visible': showErrors && hasErrors}">
  <li *ngFor="let error of errors" class="error-message">{{error}}</li>
</ul>