:host {
  --padding: 1rem;
  --background: var(--green-50);
  --border-radius: 0.5rem;
  --box-shadow: var(--surface-600) 0 8px 25px;
  --overflow: unset;
  --visible-transition: 0.16s;

  position: absolute;
  display: flex;
  z-index: 10;

  div.popover-content {
    min-width: 100%;
    min-height: 100%;
    padding: var(--padding);
    background-color: var(--background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: var(--overflow);
  }

  &[anchor="top"] div.popover-content {
    transform-origin: top center;
  }
  &[anchor="bottom"] div.popover-content {
    transform-origin: bottom center;
  }
  &[anchor="top left"] div.popover-content {
    transform-origin: top left;
  }
  &[anchor="top right"] div.popover-content {
    transform-origin: top right;
  }
  &[anchor="bottom left"] div.popover-content {
    transform-origin: bottom left;
  }
  &[anchor="bottom right"] div.popover-content {
    transform-origin: bottom right;
  }

  &:not(.visible) div.popover-content {
    animation: hideAnimation var(--visible-transition) forwards;
  }

  &.visible div.popover-content {
    animation: showAnimation var(--visible-transition) forwards;
  }
}

@keyframes showAnimation {
  from {
    opacity: 0;
    transform: scale(60%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes hideAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
