:host {
  --keyword-background: unset;
  --keyword-color: unset;
  --keyword-weight: 600;

  display: flex;
  flex-direction: column;

  div.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;

    span.sender {
      font-weight: 600;
    }

    div.header-end {
      position: relative;
      display: flex;

      div.actions {
        position: absolute;
        display: flex;
        top: -0.5rem;
        right: 150%;
        margin-right: 0.5rem;
        width: max-content;
        border-radius: 0.25rem;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        transition: 0.16s;

        app-button {
          flex: 1;
          min-width: 40px;
          --padding: 0.4rem;
          --border-radius: 0;

          &.delete {
            --color: var(--color-danger);
          }
        }
      }

      span.date {
        font-size: 0.8rem;
      }
    }
  }

  div.body {
    p.message-contents {
      margin: 0;

      ::ng-deep span.keyword {
        background-color: var(--keyword-background);
        color: var(--keyword-color);
        font-weight: var(--keyword-weight);
      }
    }
  }

  app-chat-input.edit-input ::ng-deep app-input-textarea {
    padding: 0.25rem 0 0.75rem 0;
  }

  div.edit-actions {
    display: inline-flex;
    justify-content: flex-end;
    float: right;
    border-radius: 0.25rem;
    overflow: hidden;

    app-button {
      flex: 1;
      --border-radius: 0;
    }
  }

  &:hover div.header div.header-end div.actions {
    right: 100%;
    opacity: 1;
    pointer-events: initial;
  }
}
