<ng-container *ngIf="initialized">

  <header>
    <h1 class="app-name">{{appName}}</h1>

    <app-main-menu class="main-menu" [menuItems]="mainMenuItems" [clientUser]="clientUser"></app-main-menu>

    <div class="user-options">
      <app-button class="user-options-button outline" [text]="userDisplayName"
        (click)="poUserOptions.toggleVisible($event)">
      </app-button>

      <app-popover #poUserOptions [offsetX]="20">
        <ul class="user-options-list">
          <li>
            <app-button class="block text" text="My Account" [routerLink]="accountPageRouterLink"
              (click)="poUserOptions.hide()">
            </app-button>
          </li>
          <li>
            <app-button class="block text" text="Logout" (click)="poUserOptions.hide(); logoutDialog.show()">
            </app-button>
          </li>
        </ul>
      </app-popover>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <app-confirm-dialog #logoutDialog header="Logout" cancelText="No" confirmText="Yes" [backdropDismiss]="true"
    (onConfirm)="logout()">
    <span>Are you sure you want to logout?</span>
  </app-confirm-dialog>
</ng-container>

<app-loader [fullscreen]="true" text="Please wait..." [visible]="!initialized"></app-loader>