<div class="header-actions">
  <app-button text="Add User" icon="user-plus" (click)="onAddUser()"></app-button>
</div>

<app-table [cells]="cells" [data]="users">
  <ng-template app-template="role" let-value="value">{{getRoleName(value)}}</ng-template>
  <ng-template app-template="organizationId" let-value="value">{{getOrganizationName(value)}}</ng-template>

  <ng-template app-template="table-row-actions" let-user>
    <span *ngIf="isClientUser(user); else rowActionsTemplate">(You)</span>

    <ng-template #rowActionsTemplate>
      <div class="user-actions">
        <app-button class="text reset-password" icon="key" title="Reset Password"></app-button>
        <app-button class="text edit-user" icon="pen" title="Edit User" (click)="onEditUser(user)"></app-button>
        <app-button class="text delete-user" icon="trash" title="Delete User"></app-button>
      </div>
    </ng-template>
  </ng-template>
</app-table>

<app-user-form [dialog]="true" [organizationOptions]="organizations"
  [defaultOrganizationId]="clientUser?.organizationId" (onSubmitSuccess)="onUserFormSubmit($event)">
</app-user-form>