<section *ngIf="clientUser != null" class="account-details">
  <h2 class="fade-in-down anim-speed-2">
    <span>Account Details</span>

    <div class="section-actions account-actions">
      <app-button class="m-r-2" text="Edit" icon="pen" (click)="onEditAccount()"></app-button>
      <app-button class="m-r-2" text="Change Password" icon="key" (click)="onChangePassword()"></app-button>
      <app-accessibility-popover></app-accessibility-popover>
    </div>
  </h2>

  <ul class="details-list account fade-in-down">
    <li class="info">
      <span class="meta">Username</span>
      <span class="data">{{clientUser.username}}</span>
    </li>

    <li class="info">
      <span class="meta">Display Name</span>
      <span *ngIf="clientUser.displayName" class="data">{{clientUser.displayName}}</span>
      <span *ngIf="!clientUser.displayName" class="data"><i>(Not set)</i></span>
    </li>

    <li class="info">
      <span class="meta">Role</span>
      <span class="data">{{getRoleName(clientUser.role)}}</span>
    </li>
  </ul>

  <app-account-form [dialog]="true" (onSubmitSuccess)="onAccountFormSuccess($event)"></app-account-form>

  <app-pass-change-form #passChangeForm [dialog]="true" (onSubmitSuccess)="passChangeForm.dialogVisible = false">
  </app-pass-change-form>
</section>

<section *ngIf="organization != null" class="organization-details">
  <h2 class="fade-in-down anim-speed-2">
    <span>Organization Details</span>

    <div *ngIf="allowEditOrganization" class="section-actions organization-actions">
      <app-button class="m-r-2" text="Edit" icon="pen" (click)="onEditOrganization()"></app-button>
    </div>
  </h2>

  <ul class="details-list organization fade-in-down">
    <li class="info">
      <span class="meta">Name</span>
      <span class="data">{{organization.name}}</span>
    </li>

    <li class="info">
      <span class="meta">Address</span>
      <span class="data">{{organization.fullAddress}}</span>
    </li>

    <li class="info">
      <span class="meta">Email</span>
      <span class="data">{{organization.email}}</span>
    </li>

    <li class="info">
      <span class="meta">Phone Number</span>
      <span class="data">{{organization.phoneNumber}}</span>
    </li>
  </ul>

  <app-organization-form *ngIf="allowEditOrganization" mode="edit" [dialog]="true"
    (onSubmitSuccess)="onOrganizationFormSuccess($event)">
  </app-organization-form>
</section>