@import "/src/theme/responsive.scss";
@import "/src/theme/colors.scss";

:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;

  section {
    &:not(:last-of-type) {
      margin-bottom: 0.75rem;
    }

    h2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.75rem;
      margin: 1rem 0 2rem 0;
      background-color: var(--color-1-tint-3);
      border-bottom: solid var(--color-1) 4px;
      border-radius: 0.25rem;
      font-size: 1.3rem;
      font-weight: 600;

      div.section-actions {
        display: flex;
        font-size: initial;
      }

      @include mobileWidth() {
        flex-direction: column;

        div.section-actions {
          margin-top: 0.5rem;
        }
      }
    }

    ul.details-list {
      margin: 0;
      padding: 0 2vmax 2rem 2vmax;

      li {
        display: flex;
        background-color: var(--color-1-tint-5);
        border-bottom: solid var(--color-1) 2px;
        border-radius: 0.25rem;
        overflow: hidden;

        &:not(:last-of-type) {
          margin-bottom: 0.75rem;
        }

        .meta,
        .data {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
          padding: 1rem;
        }

        .meta {
          background-color: var(--color-1);
          border-radius: 0 1000px 1000px 0;
          font-weight: 600;

          .meta-summary {
            margin: 0.25rem 0 0 0;
            font-size: 0.85rem;
            font-weight: initial;
          }
        }
      }

      &.notification-settings .data > * {
        padding: 0;
      }
    }
  }
}

@include themeHighContrast() {
  :host {
    section {
      h2 {
        background-color: var(--color-black);
        color: var(--color-white);
      }

      ul.details-list li {
        border-bottom: solid var(--color-medium) 2px;

        span.meta {
          background-color: var(--color-medium);
          color: var(--color-white);
        }
      }
    }
  }
}
