<div class="option font-size">
  <span class="option-name">Font-Size (px)</span>

  <div class="option-content">
    <div class="option-icon">
      <fa-icon [icon]="fontSizeIcon"></fa-icon>
    </div>
    <app-input-text class="option-value" type="number" [validations]="{ min: 16, max: 50 }"
      [(value)]="service.fontSize"></app-input-text>
  </div>
</div>

<div class="option theme">
  <span class="option-name">Theme</span>

  <div class="option-content">
    <div class="option-icon">
      <fa-icon [icon]="themeIcon"></fa-icon>
    </div>
    <app-input-select class="option-value" [options]="themeOptions" displayKey="key" valueKey="value"
      [(value)]="service.theme">
    </app-input-select>
  </div>
</div>