@import "../base/form-input.scss";

:host {
  --border-color: var(--color-medium);
  --border: solid var(--border-color) 1px;
  --border-radius: 0.25rem;

  div.input-wrapper {
    input {
      padding: 0.5rem;
      border: var(--border);
      border-radius: var(--border-radius);
      transition: 0.1s;
    }

    label {
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
  }

  &.has-errors {
    --border-color: var(--color-danger);
  }
}
