:host {
  --auto-resize-lines: unset;
  --padding: 0.5rem;
  --line-height: 1.25rem;

  display: inline-flex;
  border-radius: 0.5rem;
  background-color: white;
  overflow: auto;

  textarea {
    display: block;
    width: 100%;
    padding: var(--padding);
    margin: 0;
    background-color: transparent;
    border: none;
    font: inherit;
    line-height: var(--line-height);
    outline: none;
    resize: none;
    transition: 0.075s;
  }

  &.resizable textarea {
    resize: initial;
  }

  &.auto-resize textarea {
    height: calc(var(--auto-resize-lines) * var(--line-height));
  }
}
