:host {
  --header-background: #677767;
  --header-color: white;
  --initials-background: #779c77;
  --initials-color: unset;

  display: flex;
  flex-direction: column;
  background-color: #aec6ae;

  span.header {
    display: block;
    padding: 0.75rem 1rem;
    background-color: var(--header-background);
    color: var(--header-color);
    font-size: 1.25rem;
    font-weight: 600;
  }

  div.lists-wrapper {
    overflow: auto;

    div.users {
      padding: 1rem;

      span.list-header {
        display: block;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: solid var(--header-background) 1px;
        font-size: 1.12rem;
        font-weight: 600;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          padding-left: 0.5rem;
          border-left: solid var(--header-background) 8px;

          &:not(:last-of-type) {
            margin-bottom: 0.75rem;
          }

          &.offline {
            border-left-color: transparent;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
