<ng-container *ngIf="room != null">
  <div class="room-info">
    <span class="name">{{ room.name }}</span>
    <span *ngIf="room.number != null" class="number">
      Room number: <b>{{ room.number }}</b>
    </span>
  </div>

  <form
    *ngIf="!isPingRequesting; else requestingActionsTemplate"
    class="room-ping-actions request-actions"
    (submit)="onRequest(message.value)"
  >
    <app-input-text #message placeholder="Request message..."></app-input-text>
    <app-button
      type="submit"
      [text]="message.value?.trim() ? 'Send request' : 'Need assistance!'"
    ></app-button>
  </form>

  <ng-template #requestingActionsTemplate>
    <form
      *ngIf="!isClientPingRequesting; else clientRequestingTemplate"
      class="room-ping-actions response-actions"
      (submit)="onResponse(message.value)"
    >
      <app-input-text
        #message
        placeholder="Response message..."
      ></app-input-text>
      <app-button
        type="submit"
        [text]="message.value?.trim() ? 'Send response' : 'On my way!'"
      ></app-button>
    </form>

    <ng-template #clientRequestingTemplate>
      <div class="client-request-overlay">
        <div class="backdrop"></div>
        <div class="content">
          <span>Pinging...</span>
          <app-button text="Cancel" (click)="onCancel()"></app-button>
        </div>
      </div>
    </ng-template>
  </ng-template>
</ng-container>
