:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 9rem;
  padding: 0.75rem;
  background-color: var(--green-100);
  border-radius: 0.25rem;
  border: solid var(--green-200) 2px;
  border-top-width: 30px;
  overflow: hidden;

  div.room-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    span.name {
      font-size: 1.14rem;
      font-weight: 600;
    }
  }

  div.room-ping-actions {
    display: flex;
    justify-content: flex-end;

    app-input-text {
      flex: 1;
      margin-right: 0.5rem;
      padding: 0;
    }

    app-button {
      min-width: 128px;
      --padding: 0.16rem;
      font-size: 0.8rem;
    }
  }

  div.client-request-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    div.backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--surface-800);
      opacity: 0.6;
    }

    div.content {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;

      span {
        display: block;
        margin-bottom: 0.5rem;
        color: var(--surface-0);
        font-size: 1.14rem;
        font-weight: 600;
      }
    }
  }

  &.ping-request {
    animation: roomPingingAnimation 1s infinite;
  }

  @keyframes roomPingingAnimation {
    0% {
      border-top-color: var(--pink-500);
    }
    50% {
      border-top-color: var(--green-500);
    }
    100% {
      border-top-color: var(--blue-500);
    }
  }
}
