:host {
  display: flex;
  width: 100%;
  height: 100%;

  section {
    border: solid;

    h2 {
      margin: 0 0 1rem 0;
      font-weight: 600;
    }

    &.rooms {
      flex: 3;

      div.rooms-wrapper {
        display: flex;
        flex-wrap: wrap;

        app-room-ping-card.room {
          flex: 1 1 30%;
          margin: 1rem;
        }
      }
    }

    &.pings {
      flex: 1;
      min-width: 300px;
    }
  }
}

@keyframes roomPingingAnimation {
  0% {
    border-top-color: var(--pink-500);
  }
  50% {
    border-top-color: var(--green-500);
  }
  100% {
    border-top-color: var(--blue-500);
  }
}
