:host {
  display: flex;
  width: 100%;
  height: 100%;

  section {
    h2 {
      padding: 0.5rem;
      margin: 1rem;
      background-color: var(--green-100);
      border-bottom: solid var(--green-200) 4px;
      border-radius: 0.25rem;
      font-size: 1.3rem;
      font-weight: 600;
    }

    &.rooms {
      flex: 3;
      background-color: var(--surface-50);

      div.rooms-wrapper {
        display: flex;
        flex-wrap: wrap;

        app-room-ping-card.room {
          flex: 1 1 30%;
          margin: 1rem;
        }
      }
    }

    &.active-pings {
      display: flex;
      flex-direction: column;
      flex: 0;
      min-width: 0;
      background-color: var(--green-50);
      border-left: solid var(--green-100) 2px;
      transition: 0.16s;

      ul.active-pings-list {
        flex: 1;
        margin: 0;
        padding: 1rem;
        overflow-y: auto;
        overflow-x: hidden;

        li.active-ping {
          display: block;
          animation: activePingIntro 0.25s;

          &:not(:last-of-type) {
            margin-bottom: 1rem;
          }

          &.dismissing {
            animation: activePingOutro 0.25s;
          }
        }
      }

      &.visible {
        flex: 1;
        min-width: 300px;
      }
    }
  }
}

@keyframes activePingIntro {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
