<section class="info-section fade-in-left">
  <app-info-row>
    <span slot="meta">Username</span>
    <span slot="data">{{user.username}}</span>
  </app-info-row>

  <app-info-row>
    <span slot="meta">Display Name</span>
    <span slot="data">{{user.displayName || '(Not set)'}}</span>
  </app-info-row>

  <app-info-row>
    <span slot="meta">Display Name</span>
    <span slot="data">{{user.displayName || '(Not set)'}}</span>
  </app-info-row>

  <app-info-row>
    <span slot="meta">Role</span>
    <span slot="data">{{getUserRoleDisplay()}}</span>
  </app-info-row>
</section>

<section class="footer txt-right fade-in-right">
  <app-button
    class="m-r-2"
    text="Edit Account"
    icon="pen"
    (click)="onEditAccount()"
  ></app-button>
  <app-button
    text="Change Password"
    icon="key"
    (click)="onChangePassword()"
  ></app-button>
</section>

<app-account-form
  [dialog]="true"
  (onSubmitSuccess)="onAccountFormSuccess($event)"
></app-account-form>

<app-pass-change-form
  #passChangeForm
  [dialog]="true"
  (onSubmitSuccess)="passChangeForm.dialogVisible = false"
>
</app-pass-change-form>
