:host {
  --list-justify: initial;
  --list-margin: 0;
  --list-padding: 0;
  --list-background: unset;
  --list-border-color: var(--color-medium);
  --list-border-width: 2px;

  --item-padding: 0 1rem;
  --item-background: unset;
  --item-color: var(--color-dark-tint-2);
  --item-border-color: var(--list-border-color);
  --item-font-weight: initial;

  --item-background-hover: var(--item-background);
  --item-color-hover: var(--item-color);
  --item-border-color-hover: var(--item-color);
  --item-font-weight-hover: var(--item-font-weight);

  --item-background-active: var(--item-background);
  --item-color-active: var(--color-3-shade-5);
  --item-border-color-active: var(--color-3-shade-5);
  --item-font-weight-active: 600;

  display: inline-block;

  nav {
    display: block;
    width: 100%;
    height: 100%;

    ul {
      display: flex;
      justify-content: var(--list-justify);
      min-height: 50px;
      width: 100%;
      height: 100%;
      margin: var(--list-margin);
      padding: var(--list-padding);
      background-color: var(--list-background);
      border-bottom: solid var(--list-border-color) var(--list-border-width);

      li {
        display: contents;

        a.menu-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: var(--item-padding);
          margin-bottom: calc(-1 * var(--list-border-width));
          background-color: var(--item-background);
          color: var(--item-color);
          border-bottom: solid var(--item-border-color) var(--list-border-width);
          font-weight: var(--item-font-weight);
          text-decoration: none;
          transition: 0.16s;

          .icon {
            margin: 0.5rem;
          }

          &:hover {
            background-color: var(--item-background-hover);
            color: var(--item-color-hover);
            border-bottom-color: var(--item-border-color-hover);
            font-weight: var(--item-font-weight-hover);
          }

          &.active {
            background-color: var(--item-background-active);
            color: var(--item-color-active);
            border-bottom-color: var(--item-border-color-active);
            font-weight: var(--item-font-weight-active);
          }

          &.disabled {
            opacity: 0.65;
            pointer-events: none;
            border-bottom-style: dashed;
          }
        }
      }
    }
  }
}
