<nav>
  <ul>
    <li *ngFor="let item of menuItems; index as i">
      <a [routerLink]="item.routerLink" routerLinkActive="active" [attr.id]="item.id" [class]="item.cssClass"
        [ngClass]="{'menu-item': true, 'disabled': item.disabled }" (click)="onItemClickInternal(item)">

        <ng-container *ngIf="item.template == null || !templateOverwrite; else itemTemplate">
          <fa-icon *ngIf="item.icon" class="icon" [icon]="item.icon"></fa-icon>
          <span *ngIf="item.label" class="label">{{item.label}}</span>

          <ng-container *ngIf="item.template != null">
            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
          </ng-container>
        </ng-container>

        <ng-template #itemTemplate>
          <ng-container *ngTemplateOutlet="item.template; context: { $implicit: item, index: i, allItems: menuItems }">
          </ng-container>
        </ng-template>
      </a>
    </li>
  </ul>
</nav>