:host {
  display: flex;
  flex-direction: column;

  div.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;

    span.sender {
      font-weight: 600;
    }

    span.date {
      font-size: 0.8rem;
    }
  }

  div.body {
    p.message-contents {
      margin: 0;
    }
  }
}