:host {
  --list-direction: column;
  --list-align: unset;
  --list-justify: unset;
  --list-wrap: wrap;
  --list-margin: 0;
  --list-padding: 0;

  --item-flex: 1;
  --item-max-width: unset;
  --item-max-height: unset;
  --item-margin: unset;
  --item-padding: unset;
  --item-overflow: hidden;
  --item-transition: 0.25s;

  display: block;
  width: 100%;
  overflow: auto;

  ul.filter-list {
    display: flex;
    align-items: var(--list-align);
    justify-content: var(--list-justify);
    flex-wrap: var(--list-wrap);
    flex-direction: var(--list-direction);
    width: 100%;
    height: 100%;
    margin: var(--list-margin);
    padding: var(--list-padding);

    li.filter-list-item {
      display: flex;
      flex-direction: column;
      flex: var(--item-flex);
      max-width: var(--item-max-width);
      max-height: var(--item-max-height);
      margin: var(--item-margin);
      padding: var(--item-padding);
      overflow: var(--item-overflow);
      transition: var(--item-transition);

      &.filtered-out {
        flex: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
      }
    }
  }
}
