:host {
  --list-direction: column;
  --list-wrap: wrap;
  --list-margin: 0;
  --list-padding: 0;

  --item-flex: 1;
  --item-margin: unset;
  --item-padding: unset;

  display: block;
  width: 100%;
  overflow: auto;

  ul.filter-list {
    display: flex;
    flex-wrap: var(--list-wrap);
    flex-direction: var(--list-direction);
    width: 100%;
    height: 100%;
    margin: var(--list-margin);
    padding: var(--list-padding);

    li.filter-list-item {
      display: flex;
      flex-direction: column;
      flex: var(--item-flex);
      margin: var(--item-margin);
      padding: var(--item-padding);
    }
  }
}
