:host {
  app-dialog {
    div.dialog-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    div.dialog-body {
      height: 100%;

      app-form {
        min-width: 30vw;
      }
    }
  }

  app-form {
    height: 100%;

    div.grid:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    div.form-footer {
      margin-top: 1rem;

      app-inline-alert {
        margin-bottom: 1rem;
      }
    }

    li.ping-sound-select-option {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      border-bottom: solid var(--surface-100) 1px;

      app-button {
        flex-shrink: 0;
      }

      span {
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        border-radius: 0.25rem;
        transition: 0.16s;
        cursor: pointer;

        &:hover {
          background-color: var(--surface-100);
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }

      &.selected span {
        background-color: var(--green-50);
        font-weight: 600;
      }
    }
  }
}
